@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, p, div, span, th, td, li, input, textarea, select, header, section, nav, h1, h2, h3 {
	font-family: 'SUIT-Medium';
}

body {
	margin-top: 20px;
}
#logo {
	font-weight: bold;
	font-size: 2.5rem;
}

#membermenu, #mainmenu {
	list-style-type: none;
}

#membermenu {
	float: right;
}

#mainmenu {
	font-size: 17px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid black;
	display: flex;
	padding: 0;
	padding-bottom: 10px;
	justify-content: space-around;
}

#membermenu > li, #mainmenu > li{
	display: inline;
}

#membermenu > li {
	margin-right: 20px;
}


#membermenu > li:last-child {
	margin-right: 0px;
}

a {
	color: #333;
}

a:hover {
	text-decoration: none;
	color: cornflowerblue;
}


main {
	width: 1060px;
	margin: 0 auto;
}

	footer {
	 	border-top: 1px solid #CCC;
		width: 1060px;
		margin: 30px auto;
		padding-top: 20px;
		clear: both;
	}
	
	#footer1, #footer2, #footer3, #footer4 {
		float: left;
		margin-right: 140px;
	}
	
	#footer4 {
		margin-right: 0px;
	}
	
	#footer1 ul, #footer2 ul, #footer3 ul, #footer4 ul {
		list-style: none;
		padding-left: 0;
	}
	
	#footer5 {
		border-top: 1px solid #CCC;
		clear: both;
		margin-top: 170px;
	}
	
	#footer5 p {
		margin-top: 30px;
	}
	
	#footer1 span, #footer2 span, #footer3 span, #footer4 span {
	   font-size: 18px;
	   font-weight: bold;
	}

	#footer2 li, #footer3 li, #footer4 li {
	   margin-top: 10px;
	}
	
	   .star1 {
      display: inline-block;
      margin-right: 10px;
      width: 90px;
      height: 23px;
      background-image: url("/tripnow/images/star.png");
      background-position: 0px 4px;
      background-size: 340%;
      font-size: 18px;
      vertical-align: top
   }
   
   .star2 {
      margin-right: 10px;
      display: inline-block;
      width: 90px;
      height: 23px;
      background-image: url("/tripnow/images/star.png");
      background-position: 0px -18px;
      background-size: 340%;
      font-size: 18px;
      vertical-align: top
   }
   
   .star3 {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
      width: 90px;
      height: 23px;
      background-image: url("/tripnow/images/star.png");
      background-position: 0px -40px;
      background-size: 340%;
      font-size: 18px;
   }
   
   .star4 {
      display: inline-block;
      margin-right: 10px;
      width: 90px;
      height: 23px;
      background-image: url("/tripnow/images/star.png");
      background-position: 0px -63px;
      background-size: 340%;
      vertical-align: top
   }
   
   .star5 {
      display: inline-block;
      margin-right: 10px;
      width: 90px;
      height: 23px;
      background-image: url("/tripnow/images/star.png");
      background-position: 0px -85px;
      background-size: 340%;
      vertical-align: top
   }